.container {
    background-color: #6ACFC7;
    padding: 0.8em;
    border-radius: 8px;
    overflow: hidden;
    border: .1em solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.friendsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.friendsCount {
    color: #0C1A1A;
    font-size: 16px;
    font-weight: 600;
}

.seeAll {
    font-size: 16px;
    font-weight: 600;
    color: #0C1A1A;
    cursor: pointer;
}

.seeAll:hover {
   opacity: 0.8;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0.2em;
}

.friendsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0.5em;
    background-color: #0C1914;
    border: none;
    border-radius: 6px;
    padding: 0.7em;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.friendsButton:hover {
    opacity: 0.9;
}

