.container {
    background-color:  #e5e6e8;
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
    border: .1em solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 0.8em;
}

.title {
    margin-bottom: 8px;

}
