
.root {
    margin: 1em;
    background-color:#e5e6e8;
    border-radius: 12px ;
    border: 1px solid #ebe9e6;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

 .container {
     margin: 0 auto;
     padding: 0.8em;
     display: flex;
     flex-direction: column;
     gap: 50px;
 }

 .users {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 1em;
     box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
 }

 .userPhoto {
     width: 60px;
     height: 60px;
     border-radius: 60px;
 }
.usersHeader {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ebe9e6;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.title {
    color: #333333;
    padding: 20px;
}