.container {
    display: flex;
    flex-direction: column;
}

.info {
    margin-left: 0.6em;
}

.contacts {
    margin: 0.6em 0;
}

.description {
    margin: 0.6em 0;
    color: #0C1914;
    font-weight: 600;
    font-size: 16px;
}

.editButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #0C1914;
    border: none;
    border-radius: 6px;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.editButton:hover {
    opacity: 0.9;
}

.checkbox {
    width: 1em;
    height: 1em;
}

.textarea {
    color: #333232;
    background: #AECFCC;
    border-radius: 0.6em;
    padding: 0.4em;
    width: 100%;
}
