
.root {
    background-color: #D9D6D2;
    height: 100vh;
}
.container{
    display: flex;
    background-color: #D9D6D2;
    width: 75em;
    justify-content: center;
    margin: 0 auto;
    padding-top: 60px;
}

.content {
    width:100%;
    background-color: #D9D6D2;
}



