
.root {
    background-color: #f9fafb;
    height: 100vh;
}
.container{
    display: flex;
    background-color: #f9fafb;
    width: 75em;
    justify-content: center;
    margin: 0 auto;
    padding-top: 60px;
}

.content {
    width:100%;
    background-color: rgb(223, 231, 206);
}



