.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItems a {
    padding: 10px;
    color: rgba(11, 182, 182, 0.89);

}
.dialog a.active{
    color:gold;
}


.messages {
    padding: 10px;


}

.messages.message{

}