.container {
    display: flex;
}

.dialogsItems {
    display: flex;
    flex-direction: column;
    background-color: #6ACFC7;
    border: .1em solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin:0.7em 0 0.7em 0.7em ;
}

.messages {
    margin:0.7em 0 0.7em 0.7em ;
    width: 100%;
    border: .1em solid rgba(0, 0, 0, 0.2);
}

.messages__items {
    display: flex;
    flex-direction: column;
    background-color: #6ACFC7;
    color: #585757;
    margin-bottom: 0.4em;
    border: .1em solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.messages__item {
    display: flex;
    flex-direction: column;
    background-color: #6ACFC7;
    color: #585757;
    padding: 0.4em;
    margin-bottom: 0.4em;
}