.container {
    display: flex;
}

.dialogsItems {
    display: flex;
    flex-direction: column;
    background-color: #6ACFC7;
    border: .1em solid rgba(0, 0, 0, 0.2);
    margin: 5px 5px;
}

.messages {
    margin: 5px 5px;
    width: 100%;
    border: .1em solid rgba(0, 0, 0, 0.2);
}

.messages__items {
    display: flex;
    flex-direction: column;
    background-color: #6ACFC7;
    color: #585757;
    margin-bottom: 0.4em;
    border: .1em solid rgba(0, 0, 0, 0.2);
}
.messages__item {
    display: flex;
    flex-direction: column;
    background-color: #6ACFC7;
    color: #585757;
    padding: 0.4em;
    margin-bottom: 0.4em;

}