.container {
    background-color: #e5e6e8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 60px;
}

.content {
    width: 75em;
    margin: 0 auto;
}

.container img {
    width: 60px;
    padding: 10px 0;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}