.container {
    width: 250px;
    padding: 12px 22px;
    color: #333333;
    border-right: 2px solid #6ACFC7;
}


.item {
    width: 100%;
    display: flex;
    align-items: center;
    height:40px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.item__image {
    display: flex;
    margin-right: 8px;
    width: 40px;
    height: 40px;
}

.item__avatar {
    border-radius: 50%;
}

.userAndMessage {
    display: flex;
    flex-direction: column;
}

.item__userName {
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
}

.userMessage {
    font-size: 14px;
    line-height: 26px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userMessage::after {
    content: '...';
}