.root {
    border-top: 1px solid rgba(229,231,235, 1);
    font-size: 16px;
    font-weight: 500;
    color: #2d2d2d;
    background-color: #B6F2D0;
    margin: 5px 5px;
}

.title {
    margin-bottom: 12px;
    padding: 12px 12px 0;
}

