.profileUserCard  {
    background:#e5e6e8;
    border-radius: 0.3rem;
    border: .1em solid rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.profileUserCardImage {
    margin: 0 auto;
    text-align: center;
}

.backgroundImage {
    border-bottom: .2em solid #e5e6e8;
    height: 16em;
    width: 100%;
}

.avatar {
    background: #fff;
    width: 7em;
    height: 7em;
    padding: 0.25em;
    border-radius: 7em;
    margin-top: -10em;
    box-shadow: 0 0 .1em rgba(0, 0, 0, 0.35);
}

.descriptionBlock {
    text-align: center;
    padding: 0 1.5em;
}

.descriptionBlock h1 {
    margin: 0;
    font-family: "Segoe UI Black" , serif;
}


.contacts {
    color: #75787b;
    font-size: 0.98em;
    margin-top: 0.4em;
}

.description {
    margin-top: 0.4em;
    color: #0a5db6;
    font-size: 0.98em;
}
.profileAvatar {
    position: relative;
    z-index: 2;
}
.fileInput {
    display: none;

}
.fileInputLabel {
    display: inline-block;
    cursor: pointer;
}

.fileInputIcon {
    background-color: #f0f2f5;
    vertical-align: middle;
    border-radius: 50%;
    padding: 4px;

    transition: 0.3s;
}