.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.textarea {
    color: #333232;
    background: #AECFCC;
    border-radius: 10px ;
    padding: 8px 16px;
    width: 100%;
}

.buttonBlock {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0.8em;
    margin-top: 0.8em;
    border-top: 2px solid rgb(186, 186, 208);
}
.button {
    background-color: #0C1A1A;
    padding: 0 20px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 500;
    height: 36px;
    border: none;
    border-radius: 6px;
}

.button:hover {
    opacity: 0.9;
}