.container {
    background-color: #6ACFC7;
    padding: 1em;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px 0;
}

.likes {
    display: flex;
    align-items: center;
    margin-top: 0.8em;
    width: 28px;
    height: 28px;
}

.likesIcon {
    padding: 0.3em;
}

.likesCount {
    font-weight: bolder;
}

