
.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: red 2px solid;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    box-sizing: border-box;
    min-width: 100px;
    padding: 1%;
    font-size: 0.9em;
    font-family: Montserrat, sans-serif;
    animation: blink1 5s linear infinite;
}

@keyframes blink1 {
    0% {
        color: #f3c3c3;
    }
    50% {
        color: red;
    }
    100% {
        color: #f3c3c3;
    }
}